# Terraform working dir
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*
terraform.tfstate.d/

# Crash logs
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# CLI config
.terraformrc
terraform.rc

# OS / keys
.DS_Store
*.pem
*.key
